.app {
  display: flex;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2000px;
  height: 1000px;
}

.game image {
  width: 10px;
  height: 10px;
}
